[submodule "game_engine"]
	path = application_interactive/engine
	url = git@github.com:Rikougo/SoulsEngine.git
[submodule "sma/repo"]
	path = sma/repo
	url = git@github.com:Rikougo/Brobot.git
[submodule "image3d/Tattoo3D"]
	path = image3d/Tattoo3D
	url = https://github.com/sbeugnon/hmin322-idc-3D.git
